<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="PhotoVault"
           Manufacturer="Virinchi Chivukula"
           Version="0.1.0"
           UpgradeCode="4A77AF0F-EF2D-4A25-9DAA-FA5C4F3BEA11">

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="PhotoVault" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="PhotoVault" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="PhotoVault" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="*">
        <File Source="target\release\photovault.exe" KeyPath="yes" />
      </Component>
      <Component Id="ModelsDir" Guid="*">
        <CreateFolder />
        <RemoveFolder Id="RemoveModelsDir" On="uninstall" />
      </Component>
      <Component Id="LibsDir" Guid="*">
        <CreateFolder />
        <RemoveFolder Id="RemoveLibsDir" On="uninstall" />
      </Component>
      <Component Id="DataDir" Guid="*">
        <CreateFolder />
        <RemoveFolder Id="RemoveDataDir" On="uninstall" />
      </Component>
    </ComponentGroup>

    <Component Id="StartMenuShortcut" Directory="ProgramMenuDir" Guid="*">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="PhotoVault"
                Description="Offline-first photo library manager"
                Target="[INSTALLFOLDER]photovault.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="ProgramMenuDirRemove" On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\PhotoVault"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
  </Package>
</Wix>
